/node_modules
index.js
/src/data/file.js


#  echo "main.js" >> .gitignore 
#  git rm --cached main.js       
#  git add .gitignore             
#  git commit -m "Add main.js to .gitignore"  
#  git status                    
